Application renewal.json
{
    "name": "✅Application renewal",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 460662
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Application renewal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.pulseId}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.mappable_column_values.link_to_1__projects_approval.linkedPulseIds[].linkedPulseId}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{2.mappable_column_values.link_to_1__projects_approval.linkedPulseIds[].linkedPulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "monday:CreateItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "mapper": {
                "name": "{{4.name}} | RENEWAL",
                "boardId": "3879926658",
                "groupId": "",
                "columnValuesToChange": [
                    {
                        "columnId": "color4",
                        "columnValue": {
                            "label": "Renewal",
                            "settings": "{\"done_colors\":[],\"color_mapping\":{\"0\":19,\"1\":15,\"15\":101,\"19\":0,\"101\":1},\"labels\":{\"0\":\"Renewal\",\"1\":\"New\",\"7\":\"Supplement Funding (Federal)\"},\"labels_positions_v2\":{\"0\":1,\"1\":0,\"5\":3,\"7\":2},\"labels_colors\":{\"0\":{\"color\":\"#FF642E\",\"border\":\"#E05828\",\"var_name\":\"dark-orange\"},\"1\":{\"color\":\"#9CD326\",\"border\":\"#89B921\",\"var_name\":\"lime-green\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"}}}",
                            "selectType": "label2index"
                        }
                    },
                    {
                        "columnId": "status",
                        "columnValue": {
                            "label": "{{4.mappable_column_values.status.text}}",
                            "settings": "{\"done_colors\":[1,14,2],\"hide_footer\":true,\"color_mapping\":{\"1\":14,\"14\":1},\"labels\":{\"0\":\"Under Consideration\",\"2\":\"Denied\",\"5\":\"\",\"7\":\"Proposal Stage\",\"14\":\"Approved\"},\"labels_positions_v2\":{\"0\":2,\"2\":4,\"5\":0,\"7\":1,\"14\":3},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"},\"14\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                            "selectType": "label2index"
                        }
                    },
                    {
                        "columnId": "color",
                        "columnValue": {
                            "label": "{{4.mappable_column_values.color.text}}",
                            "settings": "{\"done_colors\":[],\"color_mapping\":{\"0\":157,\"1\":9,\"2\":103,\"6\":107,\"7\":10,\"9\":1,\"10\":151,\"103\":2,\"107\":6,\"151\":7,\"157\":0},\"labels\":{\"0\":\"Social \\u0026 Emotional Wellbeing\",\"1\":\"COVID-19\",\"2\":\"Nutrition \\u0026 Food Security\",\"3\":\"Research\",\"4\":\"Coalitions\",\"6\":\"Health Equity\",\"7\":\"Leadership\",\"8\":\"Pilot\",\"9\":\"Coverage (Health)\"},\"labels_positions_v2\":{\"0\":1,\"1\":2,\"2\":3,\"3\":4,\"4\":5,\"5\":0,\"6\":6,\"7\":7,\"8\":8,\"9\":9},\"labels_colors\":{\"0\":{\"color\":\"#AD967A\",\"border\":\"#AD967A\",\"var_name\":\"corona\"},\"1\":{\"color\":\"#FFCB00\",\"border\":\"#C0AB1B\",\"var_name\":\"yellow\"},\"2\":{\"color\":\"#ffadad\",\"border\":\"#ffadad\",\"var_name\":\"peach\"},\"3\":{\"color\":\"#0086c0\",\"border\":\"#3DB0DF\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#a25ddc\",\"border\":\"#9238AF\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#225091\",\"border\":\"#225091\",\"var_name\":\"navy\"},\"7\":{\"color\":\"#333333\",\"border\":\"#000\",\"var_name\":\"soft-black\"},\"8\":{\"color\":\"#CAB641\",\"border\":\"#C0AB31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"}}}",
                            "selectType": "label2index"
                        }
                    },
                    {
                        "columnId": "dropdown2",
                        "columnValue": {
                            "labels": "{{if(4.mappable_column_values.dropdown2.text = null; split(\"A-A\"; \"A\"); split(4.mappable_column_values.dropdown2.text; \",\"))}}",
                            "settings": "{\"hide_footer\":false,\"labels\":[{\"id\":1,\"name\":\"American Hospital Association\"},{\"id\":2,\"name\":\"Baxter International Inc.\"},{\"id\":3,\"name\":\"Bristol-Myers Squibb\"},{\"id\":4,\"name\":\"Comic Relief USA (CRUS)\"},{\"id\":5,\"name\":\"Deloitte Services LP\"},{\"id\":6,\"name\":\"Door Dash\"},{\"id\":7,\"name\":\"General Mills, Inc.\"},{\"id\":8,\"name\":\"General Motors\"},{\"id\":9,\"name\":\"Morehouse School of Medicine\"},{\"id\":10,\"name\":\"No Kid Hungry (Share Our Strength)\"},{\"id\":11,\"name\":\"Pyxis Partners LLC | NIH\"},{\"id\":12,\"name\":\"Robert Wood Johnson Foundation\"},{\"id\":13,\"name\":\"Walmart Foundation\"},{\"id\":14,\"name\":\"Centers for Disease Control and Prevention (CDC)\"},{\"id\":15,\"name\":\"FRAC\"},{\"id\":16,\"name\":\"WESTAT | NIH\"}]}",
                            "selectType": "label2id"
                        }
                    },
                    {
                        "columnId": "people",
                        "columnValue": {
                            "personsAndTeams": "{{ifempty(4.mappable_column_values.people.personsAndTeams; ignore)}}"
                        }
                    },
                    {
                        "columnId": "dropdown9",
                        "columnValue": {
                            "labels": "{{if(4.mappable_column_values.dropdown9.text = null; split(\"A-A\"; \"A\"); split(4.mappable_column_values.dropdown9.text; \",\"))}}",
                            "settings": "{\"labels\":[{\"name\":\"Yes\",\"id\":1},{\"id\":2,\"name\":\"No\"}]}",
                            "selectType": "label2id"
                        }
                    },
                    {
                        "columnId": "text26",
                        "columnValue": "{{4.mappable_column_values.text26}}"
                    },
                    {
                        "columnId": "dropdown53",
                        "columnValue": {
                            "labels": "{{if(4.mappable_column_values.dropdown53.text = null; split(\"A-A\"; \"A\"); split(4.mappable_column_values.dropdown53.text; \",\"))}}",
                            "settings": "{\"hide_footer\":false,\"labels\":[{\"id\":1,\"name\":\"New option\"}]}",
                            "selectType": "label2id"
                        }
                    },
                    {
                        "columnId": "dropdown7",
                        "columnValue": {
                            "labels": "{{if(4.mappable_column_values.dropdown7.text = null; split(\"A-A\"; \"A\"); split(4.mappable_column_values.dropdown7.text; \",\"))}}",
                            "settings": "{\"labels\":[{\"id\":7,\"name\":\"Affiliate Engagement\"},{\"name\":\"Education\",\"id\":3},{\"id\":5,\"name\":\"MarComm\"},{\"name\":\"Policy\",\"id\":4},{\"name\":\"Policy and Advocacy\",\"id\":1},{\"id\":6,\"name\":\"Workforce Development\"}]}",
                            "selectType": "label2id"
                        }
                    },
                    {
                        "columnId": "text50",
                        "columnValue": "{{4.mappable_column_values.text50}}"
                    },
                    {
                        "columnId": "email",
                        "columnValue": {
                            "text": "{{4.mappable_column_values.email.email}}",
                            "email": "{{4.mappable_column_values.email.email}}"
                        }
                    },
                    {
                        "columnId": "board_relation4",
                        "columnValue": {
                            "item_ids": "{{4.mappable_column_values.board_relation4.linkedPulseIds[].linkedPulseId}}"
                        }
                    },
                    {
                        "columnId": "link",
                        "columnValue": {
                            "url": "{{4.mappable_column_values.link.url}}",
                            "text": "{{4.mappable_column_values.link.text}}"
                        }
                    },
                    {
                        "columnId": "dropdown73",
                        "columnValue": {
                            "labels": "{{if(4.mappable_column_values.dropdown73.text = null; split(\"A-A\"; \"A\"); split(4.mappable_column_values.dropdown73.text; \",\"))}}",
                            "settings": "{\"hide_footer\":false,\"labels\":[{\"id\":1,\"name\":\"New option\"}]}",
                            "selectType": "label2id"
                        }
                    }
                ],
                "create_labels_if_missing": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "1. Funder Applications & Renewals  ::  public"
                        },
                        "groupId": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "columnValuesToChange": {
                            "mode": "chose",
                            "items": [
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "New or Renewal"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "label": {
                                                "mode": "chose",
                                                "label": "Renewal"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Application Status"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "label": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Program | Initiative Type"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "label": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Funder"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "labels": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "PM"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "personsAndTeams": {
                                                "mode": "edit"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Co-funding Required"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "labels": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "HL Overview"
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Responsable"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "labels": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Cross-Component Collaboration"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "labels": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Special Requirements"
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Email"
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "5. Funder Database"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "item_ids": {
                                                "mode": "edit"
                                            }
                                        }
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "SharePoint Folder"
                                    }
                                },
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Cross-Component"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "labels": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Item Name",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID"
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Array of column values to change"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Item Name",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID"
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Array of column values to change"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 7,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}