Automations to change item name from dropdown.json
{
    "name": "✅Automations to change item name from dropdown",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 460700
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Automations to change item name from dropdown"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:ChangeMultipleColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.value.chosenValues[].name}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "itemId": "{{1.event.pulseId}}",
                "boardId": "{{1.event.boardId}}",
                "columnValuesToChange": [
                    {
                        "columnId": "name",
                        "columnValue": "{{1.event.value.chosenValues[].name}}"
                    }
                ],
                "create_labels_if_missing": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "edit"
                        },
                        "columnValuesToChange": {
                            "mode": "chose",
                            "items": [
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Name"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "any",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 3,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}