Change status from other board to other board.json
{
    "name": "✅Change status from other board to other board",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 401457
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Change status"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.pulseId}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.mappable_column_values.board_relation.linkedPulseIds[].linkedPulseId}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{2.mappable_column_values.board_relation.linkedPulseIds[].linkedPulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "monday:ExecuteGraphQLQuery",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{7.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "method": "POST",
                "queryBody": "mutation {\n  change_simple_column_value(item_id: {{7.id}}, board_id: {{7.board.id}}, column_id: \"color2\", value: \"Approved\") {\n    id\n  }\n}",
                "variables": [],
                "operationName": "",
                "variablesDataSource": "array"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "label": "POST (queries and mutations)"
                        },
                        "variables": {
                            "mode": "chose"
                        },
                        "variablesDataSource": {
                            "label": "Form"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST"
                            ]
                        }
                    },
                    {
                        "name": "queryBody",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "operationName",
                        "type": "text",
                        "label": "Operation Name"
                    },
                    {
                        "name": "variablesDataSource",
                        "type": "select",
                        "label": "Variables Data Source",
                        "required": true,
                        "validate": {
                            "enum": [
                                "array",
                                "object"
                            ]
                        }
                    },
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST"
                            ]
                        }
                    },
                    {
                        "name": "queryBody",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "operationName",
                        "type": "text",
                        "label": "Operation Name"
                    },
                    {
                        "name": "variablesDataSource",
                        "type": "select",
                        "label": "Variables Data Source",
                        "required": true,
                        "validate": {
                            "enum": [
                                "array",
                                "object"
                            ]
                        }
                    },
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 6,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}