Connect matched item from dropdown.json
{
    "name": "✅Connect matched item from dropdown",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 473325
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Connect matched item from dropdown"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.value}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "monday:ListItemsByColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.mappable_column_values.dropdown4.text}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "10",
                "boardId": "3913928556",
                "columnId": "name",
                "startPage": "",
                "columnValue": "{{2.mappable_column_values.dropdown4.text}}",
                "showParentID": false,
                "showSubitemsID": false,
                "filterToGetColumnValues": []
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "6. Affiliates Database  ::  public"
                        },
                        "columnId": {
                            "mode": "chose",
                            "label": "Name"
                        },
                        "filterToGetColumnValues": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID to Search the Value",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Column ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Output Column Values"
                    },
                    {
                        "name": "columnValue",
                        "type": "text",
                        "label": "Column Value",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "columnId",
                        "type": "select",
                        "label": "Column ID to Search the Value",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Column ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Output Column Values"
                    },
                    {
                        "name": "columnValue",
                        "type": "text",
                        "label": "Column Value",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "people",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Owner"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 3,
                "rowSeparator": "other",
                "otherRowSeparator": ","
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{3.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "{{3.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Monday - Search Items in the Board by Column Values [3]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            },
            "flags": {
                "stopIfEmpty": true
            }
        },
        {
            "id": 4,
            "module": "monday:ChangeMultipleColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{5.text}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "itemId": "{{2.id}}",
                "boardId": "4008740550",
                "columnValuesToChange": [
                    {
                        "columnId": "connect_boards",
                        "columnValue": {
                            "item_ids": "{{split(5.text; \",\")}}"
                        }
                    }
                ],
                "create_labels_if_missing": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "itemId": {
                            "mode": "edit"
                        },
                        "boardId": {
                            "mode": "chose",
                            "label": "Contact Directory  ::  public"
                        },
                        "columnValuesToChange": {
                            "mode": "chose",
                            "items": [
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "6. Affiliates Database"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "item_ids": {
                                                "mode": "edit"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}