Duplicating group by status from another group.json
{
    "name": "Duplicating group by status from another group",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 390938
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Duplicating group"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "monday:DuplicateGroup",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.pulseId}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "boardId": "3895756273",
                "groupId": "phase_1__planning",
                "groupTitle": "{{1.event.pulseName}}",
                "isToAddToTop": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "2. Application Tasks (New Proposals + Renewals)  ::  public"
                        },
                        "groupId": {
                            "mode": "chose",
                            "label": "Application Task | TEMPLATE"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "groupTitle",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "isToAddToTop",
                        "type": "boolean",
                        "label": "Add to the Top",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID",
                        "required": true
                    },
                    {
                        "name": "groupTitle",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "isToAddToTop",
                        "type": "boolean",
                        "label": "Add to the Top",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{11.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "duration": "5"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "monday:ListGroupItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "mapper": {
                "limit": "100",
                "boardId": "3895756273",
                "groupId": "{{11.id}}",
                "startPage": "",
                "showParentID": false,
                "showSubitemsID": false,
                "filterToGetColumnValues": []
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "2. Application Tasks (New Proposals + Renewals)  ::  public"
                        },
                        "groupId": {
                            "mode": "edit"
                        },
                        "filterToGetColumnValues": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Column ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Output Column Values"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "startPage",
                        "type": "uinteger",
                        "label": "Start Page"
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Column ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Output Column Values"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "person",
                                "spec": [
                                    {
                                        "name": "personsAndTeams",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Persons and Teams"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Owner"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 15,
                "rowSeparator": "other",
                "otherRowSeparator": ","
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{15.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "{{15.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Monday - List Group's Items [15]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 14,
            "module": "monday:ChangeMultipleColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{9.text}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "itemId": "{{1.event.pulseId}}",
                "boardId": "3879926658",
                "columnValuesToChange": [
                    {
                        "columnId": "board_relation",
                        "columnValue": {
                            "item_ids": "{{split(9.text; \",\")}}"
                        }
                    }
                ],
                "create_labels_if_missing": true
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "itemId": {
                            "mode": "edit"
                        },
                        "boardId": {
                            "mode": "chose",
                            "label": "1. Funder Applications (or Renewals)  ::  public"
                        },
                        "columnValuesToChange": {
                            "mode": "chose",
                            "items": [
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "2. Application Task"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "item_ids": {
                                                "mode": "edit"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}