Executed Item move to Performance Tracker.json
{
    "name": "Executed Item move to Performance Tracker",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 761381
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -324,
                    "y": -5
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Execution item status changes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": -24,
                    "y": -5
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "monday:GetBoard",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "mapper": {
                "boardId": "{{1.event.boardId}}",
                "showItemsCount": false
            },
            "metadata": {
                "designer": {
                    "x": 276,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "showItemsCount",
                        "type": "boolean",
                        "label": "Show Items Count"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "item_terminology",
                        "type": "text",
                        "label": "Item Terminology"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board_folder_id",
                        "type": "uinteger",
                        "label": "Board Folder ID"
                    },
                    {
                        "name": "board_kind",
                        "type": "uinteger",
                        "label": "Board Kind"
                    },
                    {
                        "name": "pos",
                        "type": "uinteger",
                        "label": "Position"
                    },
                    {
                        "name": "owner",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Owner"
                    },
                    {
                        "name": "columns",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "settings_str",
                                "type": "text",
                                "label": "Settings"
                            }
                        ],
                        "type": "array",
                        "label": "Columns"
                    },
                    {
                        "name": "tags",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "views",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "settings_str",
                                    "type": "text",
                                    "label": "Settings Str"
                                },
                                {
                                    "name": "view_specific_data_str",
                                    "type": "text",
                                    "label": "View Specific Data Str"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "id",
                                    "type": "uinteger",
                                    "label": "Unique ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Views"
                    },
                    {
                        "name": "communication",
                        "type": "json",
                        "label": "Communication"
                    },
                    {
                        "name": "items_count",
                        "type": "uinteger",
                        "label": "Items Count"
                    },
                    {
                        "name": "mappable_column_settings",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column settings"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "monday:ListBoards",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "mapper": {
                "limit": "10000",
                "order_by": "",
                "workspace_ids": [
                    2793653
                ],
                "includeColumns": false
            },
            "metadata": {
                "designer": {
                    "x": 576,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "order_by": {
                            "label": "Empty"
                        },
                        "workspace_ids": {
                            "items": [
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "Health Update"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "includeColumns",
                        "type": "boolean",
                        "label": "Include Columns",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "workspace_ids",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Workspace ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Workspace IDs"
                    },
                    {
                        "name": "order_by",
                        "type": "select",
                        "label": "Order by",
                        "validate": {
                            "enum": [
                                "created_at",
                                "used_at"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 936,
                    "y": -11
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "monday:GetBoard",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 784295
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.name}}",
                                            "b": "7{{substring(3.name; 1; indexOf(3.name; \"|\") + 1)}} Performance Tracker",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "boardId": "{{4.id}}",
                                "showItemsCount": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1275,
                                    "y": -9
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Monday Unidos admin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showItemsCount",
                                        "type": "boolean",
                                        "label": "Show Items Count"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "item_terminology",
                                        "type": "text",
                                        "label": "Item Terminology"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "state",
                                        "type": "text",
                                        "label": "State"
                                    },
                                    {
                                        "name": "board_folder_id",
                                        "type": "uinteger",
                                        "label": "Board Folder ID"
                                    },
                                    {
                                        "name": "board_kind",
                                        "type": "uinteger",
                                        "label": "Board Kind"
                                    },
                                    {
                                        "name": "pos",
                                        "type": "uinteger",
                                        "label": "Position"
                                    },
                                    {
                                        "name": "owner",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Owner"
                                    },
                                    {
                                        "name": "columns",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "settings_str",
                                                "type": "text",
                                                "label": "Settings"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Columns"
                                    },
                                    {
                                        "name": "tags",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "views",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "settings_str",
                                                    "type": "text",
                                                    "label": "Settings Str"
                                                },
                                                {
                                                    "name": "view_specific_data_str",
                                                    "type": "text",
                                                    "label": "View Specific Data Str"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "id",
                                                    "type": "uinteger",
                                                    "label": "Unique ID"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Views"
                                    },
                                    {
                                        "name": "communication",
                                        "type": "json",
                                        "label": "Communication"
                                    },
                                    {
                                        "name": "items_count",
                                        "type": "uinteger",
                                        "label": "Items Count"
                                    },
                                    {
                                        "name": "mappable_column_settings",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Mappable column settings"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "monday:CreateItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 784295
                            },
                            "mapper": {
                                "name": "{{2.name}}",
                                "boardId": "{{7.id}}",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "text",
                                        "columnValue": {
                                            "anyValueToPass": "\"{{2.mappable_column_values.text}}\""
                                        }
                                    },
                                    {
                                        "columnId": "text1",
                                        "columnValue": {
                                            "anyValueToPass": "\"{{2.mappable_column_values.text0}}\""
                                        }
                                    },
                                    {
                                        "columnId": "text4",
                                        "columnValue": {
                                            "anyValueToPass": "\"{{2.mappable_column_values.text6}}\""
                                        }
                                    },
                                    {
                                        "columnId": "text16",
                                        "columnValue": {
                                            "anyValueToPass": "\"{{2.mappable_column_values.text7}}\""
                                        }
                                    },
                                    {
                                        "columnId": "text0",
                                        "columnValue": {
                                            "anyValueToPass": "\"{{2.mappable_column_values.text60}}\""
                                        }
                                    }
                                ],
                                "create_labels_if_missing": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1575,
                                    "y": -9
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "edit"
                                        },
                                        "groupId": {
                                            "mode": "chose"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "edit"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Monday Unidos admin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}