Integration Jotform with monday.json
{
    "name": "✅Integration Jotform with monday",
    "flow": [
        {
            "id": 1,
            "module": "jotform:watchForSubmissions",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 424360
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Integrations jotform with monday"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:jotform",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "formID",
                        "type": "number",
                        "label": "Form ID"
                    },
                    {
                        "name": "submissionID",
                        "type": "number",
                        "label": "Submission ID"
                    },
                    {
                        "name": "webhookURL",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "ip",
                        "type": "text",
                        "label": "IP"
                    },
                    {
                        "name": "fromTitle",
                        "type": "text",
                        "label": "Form title"
                    },
                    {
                        "name": "pretty",
                        "type": "text",
                        "label": "Pretty"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "Username"
                    },
                    {
                        "name": "rawRequest",
                        "type": "text",
                        "label": "RAW request"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "request",
                        "spec": [
                            {
                                "name": "slug",
                                "type": "text",
                                "label": "Slug"
                            },
                            {
                                "name": "event_id",
                                "type": "text",
                                "label": "Event ID"
                            },
                            {
                                "name": "path",
                                "type": "text",
                                "label": "Path"
                            },
                            {
                                "name": "q4_organizationsOfficial",
                                "type": "text",
                                "label": "Organization's Official Name"
                            },
                            {
                                "name": "q5_organizationsOfficial5",
                                "spec": [
                                    {
                                        "name": "addr_line1",
                                        "type": "text",
                                        "label": "Street Address"
                                    },
                                    {
                                        "name": "addr_line2",
                                        "type": "text",
                                        "label": "Street Address Line 2"
                                    },
                                    {
                                        "name": "city",
                                        "type": "text",
                                        "label": "City"
                                    },
                                    {
                                        "name": "state",
                                        "type": "text",
                                        "label": "State / Province"
                                    },
                                    {
                                        "name": "postal",
                                        "type": "text",
                                        "label": "Postal / Zip Code"
                                    },
                                    {
                                        "name": "country",
                                        "type": "text",
                                        "label": "Country"
                                    }
                                ],
                                "type": "collection",
                                "label": "Organization's Official Address"
                            },
                            {
                                "name": "q6_name",
                                "spec": [
                                    {
                                        "name": "prefix",
                                        "type": "text",
                                        "label": "Prefix"
                                    },
                                    {
                                        "name": "first",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "middle",
                                        "type": "text",
                                        "label": "Middle Name"
                                    },
                                    {
                                        "name": "last",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "suffix",
                                        "type": "text",
                                        "label": "Suffix"
                                    }
                                ],
                                "type": "collection",
                                "label": "Name"
                            },
                            {
                                "name": "q7_email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "q8_workPhone",
                                "spec": [
                                    {
                                        "name": "full",
                                        "type": "text",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Work Phone"
                            },
                            {
                                "name": "q9_mobilePhone",
                                "spec": [
                                    {
                                        "name": "full",
                                        "type": "text",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Mobile Phone"
                            },
                            {
                                "name": "q10_role",
                                "type": "text",
                                "label": "Role"
                            },
                            {
                                "name": "q11_role11",
                                "type": "text",
                                "label": "Role"
                            },
                            {
                                "name": "q12_name12",
                                "spec": [
                                    {
                                        "name": "prefix",
                                        "type": "text",
                                        "label": "Prefix"
                                    },
                                    {
                                        "name": "first",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "middle",
                                        "type": "text",
                                        "label": "Middle Name"
                                    },
                                    {
                                        "name": "last",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "suffix",
                                        "type": "text",
                                        "label": "Suffix"
                                    }
                                ],
                                "type": "collection",
                                "label": "Name"
                            },
                            {
                                "name": "q13_email13",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "q14_workPhone14",
                                "spec": [
                                    {
                                        "name": "full",
                                        "type": "text",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Work Phone"
                            },
                            {
                                "name": "q15_mobilePhone15",
                                "spec": [
                                    {
                                        "name": "full",
                                        "type": "text",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Mobile Phone"
                            },
                            {
                                "name": "q16_role16",
                                "type": "text",
                                "label": "Role"
                            },
                            {
                                "name": "q17_name17",
                                "spec": [
                                    {
                                        "name": "prefix",
                                        "type": "text",
                                        "label": "Prefix"
                                    },
                                    {
                                        "name": "first",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "middle",
                                        "type": "text",
                                        "label": "Middle Name"
                                    },
                                    {
                                        "name": "last",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "suffix",
                                        "type": "text",
                                        "label": "Suffix"
                                    }
                                ],
                                "type": "collection",
                                "label": "Name"
                            },
                            {
                                "name": "q18_email18",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "q19_workPhone19",
                                "spec": [
                                    {
                                        "name": "full",
                                        "type": "text",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Work Phone"
                            },
                            {
                                "name": "q20_mobilePhone20",
                                "spec": [
                                    {
                                        "name": "full",
                                        "type": "text",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Mobile Phone"
                            },
                            {
                                "name": "q21_title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "q22_title22",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "q23_title23",
                                "type": "text",
                                "label": "Title"
                            }
                        ],
                        "type": "collection",
                        "label": "Request"
                    },
                    {
                        "name": "formTitle",
                        "type": "text",
                        "label": "Form Title"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.request.q4_organizationsOfficial}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "work phone",
                                        "value": "{{replace(replace(replace(replace(1.request.q8_workPhone.full; \"(\"; emptystring); \")\"; emptystring); \"-\"; emptystring); space; emptystring)}}"
                                    },
                                    {
                                        "name": "mobile phone",
                                        "value": "{{replace(replace(replace(replace(1.request.q9_mobilePhone.full; \"(\"; emptystring); \")\"; emptystring); \"-\"; emptystring); space; emptystring)}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "work phone",
                                        "type": "any",
                                        "label": "work phone"
                                    },
                                    {
                                        "name": "mobile phone",
                                        "type": "any",
                                        "label": "mobile phone"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 2,
                            "module": "monday:CreateItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 784295
                            },
                            "mapper": {
                                "name": "{{1.request.q6_name.first}}{{space}}{{1.request.q6_name.last}}",
                                "boardId": "4008740550",
                                "groupId": "",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "text",
                                        "columnValue": "{{1.request.q5_organizationsOfficial5.addr_line1}},{{1.request.q5_organizationsOfficial5.city}},{{1.request.q5_organizationsOfficial5.state}},{{1.request.q5_organizationsOfficial5.country}},{{1.request.q5_organizationsOfficial5.postal}}"
                                    },
                                    {
                                        "columnId": "organization",
                                        "columnValue": {
                                            "label": "{{1.request.q4_organizationsOfficial}}",
                                            "settings": "{\"labels\":{\"0\":\"Mary's Center for Maternal and Child Care, Inc.\",\"1\":\"La Clinica del Pueblo\",\"2\":\"Comite de Bien Estar, Inc\",\"3\":\"AltaMed Health Services Corporation\",\"7\":\"Project Vida Health Center\",\"4\":\"Centro De Salud Familiar La Fe, Inc.\",\"6\":\"Acacia Network (PROMESA)\",\"8\":\"El Concilio California\",\"9\":\"Su Clinica Familiar\",\"10\":\"San Ysidro Health\",\"11\":\"La Clínica de La Raza, Inc.\",\"12\":\"Community Services of Nevada\",\"13\":\"Esperanza Health Centers\",\"14\":\"Mexican American Council, Inc.\",\"15\":\"Community Council of Idaho, Inc.\",\"16\":\"Conexión Américas\",\"17\":\"Sea Mar Community Health Centers\",\"18\":\"Alivio Medical Center\",\"19\":\"Clinicas de Salud del Pueblo, DBA Innercare\",\"5\":\"\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#0086c0\",\"border\":\"#3DB0DF\",\"var_name\":\"blue-links\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"},\"4\":{\"color\":\"#a25ddc\",\"border\":\"#9238AF\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006B38\",\"var_name\":\"grass-green\"},\"8\":{\"color\":\"#CAB641\",\"border\":\"#C0AB31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#FFCB00\",\"border\":\"#C0AB1B\",\"var_name\":\"yellow\"},\"10\":{\"color\":\"#333333\",\"border\":\"#000\",\"var_name\":\"soft-black\"},\"11\":{\"color\":\"#BB3354\",\"border\":\"#A42D4A\",\"var_name\":\"dark-red\"},\"12\":{\"color\":\"#FF158A\",\"border\":\"#E01279\",\"var_name\":\"dark-pink\"},\"13\":{\"color\":\"#FF5AC4\",\"border\":\"#E04FAC\",\"var_name\":\"light-pink\"},\"14\":{\"color\":\"#784BD1\",\"border\":\"#8F4DC4\",\"var_name\":\"dark-purple\"},\"15\":{\"color\":\"#9CD326\",\"border\":\"#89B921\",\"var_name\":\"lime-green\"},\"16\":{\"color\":\"#66CCFF\",\"border\":\"#5AB3E0\",\"var_name\":\"turquoise\"},\"17\":{\"color\":\"#808080\",\"border\":\"#707070\",\"var_name\":\"trolley-grey\"},\"18\":{\"color\":\"#7F5347\",\"border\":\"#70493E\",\"var_name\":\"brown\"},\"19\":{\"color\":\"#FF642E\",\"border\":\"#E05828\",\"var_name\":\"dark-orange\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"}}}",
                                            "selectType": "label2index"
                                        }
                                    },
                                    {
                                        "columnId": "title",
                                        "columnValue": "{{1.request.q21_title}}"
                                    },
                                    {
                                        "columnId": "email",
                                        "columnValue": {
                                            "text": "{{1.request.q7_email}}",
                                            "email": "{{1.request.q7_email}}"
                                        }
                                    },
                                    {
                                        "columnId": "role",
                                        "columnValue": {
                                            "label": "{{1.request.q10_role}}",
                                            "settings": "{\"labels\":{\"0\":\"Finance Lead\",\"1\":\"Communication Lead\",\"2\":\"Program Lead\",\"5\":\"\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"}}}",
                                            "selectType": "label2index"
                                        }
                                    },
                                    {
                                        "columnId": "phone",
                                        "columnValue": {
                                            "phone": "{{ifempty(5.`work phone`; ignore)}}",
                                            "countryShortName": "{{if(5.`work phone` != null; null; ignore)}}"
                                        }
                                    },
                                    {
                                        "columnId": "phone_1",
                                        "columnValue": {
                                            "phone": "{{ifempty(5.`mobile phone`; ignore)}}",
                                            "countryShortName": "{{if(5.`mobile phone` != null; null; ignore)}}"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Contact Directory  ::  public"
                                        },
                                        "groupId": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Organization's Official Address"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Organization"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "edit"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Title"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Email"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Role"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "edit"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Work Phone"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Mobile Phone"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Monday Unidos admin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 3,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "15"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 0
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.request.q11_role11}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "work phone",
                                        "value": "{{replace(replace(replace(replace(1.request.q14_workPhone14.full; \"(\"; emptystring); \")\"; emptystring); \"-\"; emptystring); space; emptystring)}}"
                                    },
                                    {
                                        "name": "mobile phone",
                                        "value": "{{replace(replace(replace(replace(1.request.q15_mobilePhone15.full; \"(\"; emptystring); \")\"; emptystring); \"-\"; emptystring); space; emptystring)}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "work phone",
                                        "type": "any",
                                        "label": "work phone"
                                    },
                                    {
                                        "name": "mobile phone",
                                        "type": "any",
                                        "label": "mobile phone"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "monday:CreateItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 784295
                            },
                            "mapper": {
                                "name": "{{1.request.q12_name12.first}}{{space}}{{1.request.q12_name12.last}}",
                                "boardId": "4008740550",
                                "groupId": "",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "text",
                                        "columnValue": "{{1.request.q5_organizationsOfficial5.addr_line1}},{{1.request.q5_organizationsOfficial5.city}},{{1.request.q5_organizationsOfficial5.state}},{{1.request.q5_organizationsOfficial5.country}},{{1.request.q5_organizationsOfficial5.postal}}"
                                    },
                                    {
                                        "columnId": "organization",
                                        "columnValue": {
                                            "label": "{{1.request.q4_organizationsOfficial}}",
                                            "settings": "{\"labels\":{\"0\":\"Mary's Center for Maternal and Child Care, Inc.\",\"1\":\"La Clinica del Pueblo\",\"2\":\"Comite de Bien Estar, Inc\",\"3\":\"AltaMed Health Services Corporation\",\"7\":\"Project Vida Health Center\",\"4\":\"Centro De Salud Familiar La Fe, Inc.\",\"6\":\"Acacia Network (PROMESA)\",\"8\":\"El Concilio California\",\"9\":\"Su Clinica Familiar\",\"10\":\"San Ysidro Health\",\"11\":\"La Clínica de La Raza, Inc.\",\"12\":\"Community Services of Nevada\",\"13\":\"Esperanza Health Centers\",\"14\":\"Mexican American Council, Inc.\",\"15\":\"Community Council of Idaho, Inc.\",\"16\":\"Conexión Américas\",\"17\":\"Sea Mar Community Health Centers\",\"18\":\"Alivio Medical Center\",\"19\":\"Clinicas de Salud del Pueblo, DBA Innercare\",\"5\":\"\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#0086c0\",\"border\":\"#3DB0DF\",\"var_name\":\"blue-links\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"},\"4\":{\"color\":\"#a25ddc\",\"border\":\"#9238AF\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006B38\",\"var_name\":\"grass-green\"},\"8\":{\"color\":\"#CAB641\",\"border\":\"#C0AB31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#FFCB00\",\"border\":\"#C0AB1B\",\"var_name\":\"yellow\"},\"10\":{\"color\":\"#333333\",\"border\":\"#000\",\"var_name\":\"soft-black\"},\"11\":{\"color\":\"#BB3354\",\"border\":\"#A42D4A\",\"var_name\":\"dark-red\"},\"12\":{\"color\":\"#FF158A\",\"border\":\"#E01279\",\"var_name\":\"dark-pink\"},\"13\":{\"color\":\"#FF5AC4\",\"border\":\"#E04FAC\",\"var_name\":\"light-pink\"},\"14\":{\"color\":\"#784BD1\",\"border\":\"#8F4DC4\",\"var_name\":\"dark-purple\"},\"15\":{\"color\":\"#9CD326\",\"border\":\"#89B921\",\"var_name\":\"lime-green\"},\"16\":{\"color\":\"#66CCFF\",\"border\":\"#5AB3E0\",\"var_name\":\"turquoise\"},\"17\":{\"color\":\"#808080\",\"border\":\"#707070\",\"var_name\":\"trolley-grey\"},\"18\":{\"color\":\"#7F5347\",\"border\":\"#70493E\",\"var_name\":\"brown\"},\"19\":{\"color\":\"#FF642E\",\"border\":\"#E05828\",\"var_name\":\"dark-orange\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"}}}",
                                            "selectType": "label2index"
                                        }
                                    },
                                    {
                                        "columnId": "title",
                                        "columnValue": "{{1.request.q22_title22}}"
                                    },
                                    {
                                        "columnId": "email",
                                        "columnValue": {
                                            "text": "{{1.request.q13_email13}}",
                                            "email": "{{1.request.q13_email13}}"
                                        }
                                    },
                                    {
                                        "columnId": "role",
                                        "columnValue": {
                                            "label": "{{1.request.q11_role11}}",
                                            "settings": "{\"labels\":{\"0\":\"Finance Lead\",\"1\":\"Communication Lead\",\"2\":\"Program Lead\",\"5\":\"\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"}}}",
                                            "selectType": "label2index"
                                        }
                                    },
                                    {
                                        "columnId": "phone",
                                        "columnValue": {
                                            "phone": "{{ifempty(8.`work phone`; ignore)}}",
                                            "countryShortName": "{{if(8.`work phone` != null; null; ignore)}}"
                                        }
                                    },
                                    {
                                        "columnId": "phone_1",
                                        "columnValue": {
                                            "phone": "{{ifempty(8.`mobile phone`; ignore)}}",
                                            "countryShortName": "{{if(8.`mobile phone` != null; null; ignore)}}"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Contact Directory  ::  public"
                                        },
                                        "groupId": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Organization's Official Address"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Organization"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "edit"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Title"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Email"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Role"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "edit"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Work Phone"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Mobile Phone"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Monday Unidos admin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 12,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "15"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 300
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.request.q16_role16}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "work phone",
                                        "value": "{{replace(replace(replace(replace(1.request.q19_workPhone19.full; \"(\"; emptystring); \")\"; emptystring); \"-\"; emptystring); space; emptystring)}}"
                                    },
                                    {
                                        "name": "mobile phone",
                                        "value": "{{replace(replace(replace(replace(1.request.q20_mobilePhone20.full; \"(\"; emptystring); \")\"; emptystring); \"-\"; emptystring); space; emptystring)}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "work phone",
                                        "type": "any",
                                        "label": "work phone"
                                    },
                                    {
                                        "name": "mobile phone",
                                        "type": "any",
                                        "label": "mobile phone"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "monday:CreateItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 784295
                            },
                            "mapper": {
                                "name": "{{1.request.q17_name17.first}}{{space}}{{1.request.q17_name17.last}}",
                                "boardId": "4008740550",
                                "groupId": "",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "text",
                                        "columnValue": "{{1.request.q5_organizationsOfficial5.addr_line1}},{{1.request.q5_organizationsOfficial5.city}},{{1.request.q5_organizationsOfficial5.state}},{{1.request.q5_organizationsOfficial5.country}},{{1.request.q5_organizationsOfficial5.postal}}"
                                    },
                                    {
                                        "columnId": "organization",
                                        "columnValue": {
                                            "label": "{{1.request.q4_organizationsOfficial}}",
                                            "settings": "{\"labels\":{\"0\":\"Mary's Center for Maternal and Child Care, Inc.\",\"1\":\"La Clinica del Pueblo\",\"2\":\"Comite de Bien Estar, Inc\",\"3\":\"AltaMed Health Services Corporation\",\"7\":\"Project Vida Health Center\",\"4\":\"Centro De Salud Familiar La Fe, Inc.\",\"6\":\"Acacia Network (PROMESA)\",\"8\":\"El Concilio California\",\"9\":\"Su Clinica Familiar\",\"10\":\"San Ysidro Health\",\"11\":\"La Clínica de La Raza, Inc.\",\"12\":\"Community Services of Nevada\",\"13\":\"Esperanza Health Centers\",\"14\":\"Mexican American Council, Inc.\",\"15\":\"Community Council of Idaho, Inc.\",\"16\":\"Conexión Américas\",\"17\":\"Sea Mar Community Health Centers\",\"18\":\"Alivio Medical Center\",\"19\":\"Clinicas de Salud del Pueblo, DBA Innercare\",\"5\":\"\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#0086c0\",\"border\":\"#3DB0DF\",\"var_name\":\"blue-links\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"},\"4\":{\"color\":\"#a25ddc\",\"border\":\"#9238AF\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006B38\",\"var_name\":\"grass-green\"},\"8\":{\"color\":\"#CAB641\",\"border\":\"#C0AB31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#FFCB00\",\"border\":\"#C0AB1B\",\"var_name\":\"yellow\"},\"10\":{\"color\":\"#333333\",\"border\":\"#000\",\"var_name\":\"soft-black\"},\"11\":{\"color\":\"#BB3354\",\"border\":\"#A42D4A\",\"var_name\":\"dark-red\"},\"12\":{\"color\":\"#FF158A\",\"border\":\"#E01279\",\"var_name\":\"dark-pink\"},\"13\":{\"color\":\"#FF5AC4\",\"border\":\"#E04FAC\",\"var_name\":\"light-pink\"},\"14\":{\"color\":\"#784BD1\",\"border\":\"#8F4DC4\",\"var_name\":\"dark-purple\"},\"15\":{\"color\":\"#9CD326\",\"border\":\"#89B921\",\"var_name\":\"lime-green\"},\"16\":{\"color\":\"#66CCFF\",\"border\":\"#5AB3E0\",\"var_name\":\"turquoise\"},\"17\":{\"color\":\"#808080\",\"border\":\"#707070\",\"var_name\":\"trolley-grey\"},\"18\":{\"color\":\"#7F5347\",\"border\":\"#70493E\",\"var_name\":\"brown\"},\"19\":{\"color\":\"#FF642E\",\"border\":\"#E05828\",\"var_name\":\"dark-orange\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"}}}",
                                            "selectType": "label2index"
                                        }
                                    },
                                    {
                                        "columnId": "title",
                                        "columnValue": "{{1.request.q23_title23}}"
                                    },
                                    {
                                        "columnId": "email",
                                        "columnValue": {
                                            "text": "{{1.request.q18_email18}}",
                                            "email": "{{1.request.q18_email18}}"
                                        }
                                    },
                                    {
                                        "columnId": "role",
                                        "columnValue": {
                                            "label": "{{1.request.q16_role16}}",
                                            "settings": "{\"labels\":{\"0\":\"Finance Lead\",\"1\":\"Communication Lead\",\"2\":\"Program Lead\",\"5\":\"\"},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#B0B0B0\",\"var_name\":\"grey\"}}}",
                                            "selectType": "label2index"
                                        }
                                    },
                                    {
                                        "columnId": "phone",
                                        "columnValue": {
                                            "phone": "{{ifempty(10.`work phone`; ignore)}}",
                                            "countryShortName": "{{if(10.`work phone` != null; null; ignore)}}"
                                        }
                                    },
                                    {
                                        "columnId": "phone_1",
                                        "columnValue": {
                                            "phone": "{{ifempty(10.`mobile phone`; ignore)}}",
                                            "countryShortName": "{{if(10.`mobile phone` != null; null; ignore)}}"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "Contact Directory  ::  public"
                                        },
                                        "groupId": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Organization's Official Address"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Organization"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "edit"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Title"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Email"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Role"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "label": {
                                                                "mode": "edit"
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Work Phone"
                                                    }
                                                },
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Mobile Phone"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Monday Unidos admin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "15"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 600
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 6,
                        "module": "monday:ChangeMultipleColumnValues",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 698158
                        },
                        "mapper": {
                            "itemId": "4009215596",
                            "boardId": "4008740550",
                            "columnValuesToChange": [
                                {
                                    "columnId": "phone",
                                    "columnValue": {
                                        "phone": "{{replace(replace(replace(replace(\"(111) 111-1111\"; \"(\"; emptystring); \")\"; emptystring); \"-\"; emptystring); space; emptystring)}}",
                                        "countryShortName": "{{null}}"
                                    }
                                },
                                {
                                    "columnId": "phone_1",
                                    "columnValue": {
                                        "phone": "{{ifempty(parseNumber(\"(111) 111-1111\"); ignore)}}",
                                        "countryShortName": "{{null}}"
                                    }
                                }
                            ],
                            "create_labels_if_missing": true
                        },
                        "metadata": {
                            "designer": {
                                "x": 0,
                                "y": 906,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "itemId": {
                                        "mode": "chose",
                                        "label": "test103 omara (4009215596)"
                                    },
                                    "boardId": {
                                        "mode": "chose",
                                        "label": "Contact Directory  ::  public"
                                    },
                                    "columnValuesToChange": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "columnId": {
                                                    "mode": "chose",
                                                    "label": "Work Phone"
                                                }
                                            },
                                            {
                                                "columnId": {
                                                    "mode": "chose",
                                                    "label": "Mobile Phone"
                                                }
                                            }
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "monday"
                                        },
                                        "label": "Duplicating group"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:monday",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "boardId",
                                    "type": "select",
                                    "label": "Board ID",
                                    "required": true
                                },
                                {
                                    "name": "create_labels_if_missing",
                                    "type": "boolean",
                                    "label": "Create Labels if Missing",
                                    "required": true
                                },
                                {
                                    "name": "itemId",
                                    "type": "select",
                                    "label": "Item ID",
                                    "required": true
                                },
                                {
                                    "name": "columnValuesToChange",
                                    "spec": [
                                        {
                                            "name": "columnId",
                                            "type": "select",
                                            "label": "Column ID",
                                            "dynamic": true,
                                            "options": {
                                                "store": []
                                            },
                                            "required": true,
                                            "validate": false
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Column Values to Change",
                                    "required": true
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "us1.make.com"
    }
}