Integrations New Funder Application with Funder Database.json
{
    "name": "✅Integrations New Funder Application with Funder Database",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 412559
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Integrations Funder"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.pulseId}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.event.value.label.text}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "monday:ListBoardItems",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 784295
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.event.boardId}}",
                                            "b": "3879926658",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "limit": "10000",
                                "boardId": "3913882077",
                                "startPage": "",
                                "newestFirst": false,
                                "showParentID": true,
                                "showSubitemsID": true,
                                "filterToGetColumnValues": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "5. Funder Database  ::  public"
                                        },
                                        "filterToGetColumnValues": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Monday Unidos admin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showParentID",
                                        "type": "boolean",
                                        "label": "Show Parent ID",
                                        "required": true
                                    },
                                    {
                                        "name": "showSubitemsID",
                                        "type": "boolean",
                                        "label": "Show Subitems ID",
                                        "required": true
                                    },
                                    {
                                        "name": "startPage",
                                        "type": "uinteger",
                                        "label": "Start Page"
                                    },
                                    {
                                        "name": "newestFirst",
                                        "type": "boolean",
                                        "label": "Newest First",
                                        "required": true
                                    },
                                    {
                                        "name": "filterToGetColumnValues",
                                        "spec": {
                                            "name": "value",
                                            "type": "select",
                                            "label": "Column ID",
                                            "dynamic": true,
                                            "options": [],
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Output Column Values"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "date",
                                        "label": "Created at"
                                    },
                                    {
                                        "name": "updated_at",
                                        "type": "date",
                                        "label": "Updated at"
                                    },
                                    {
                                        "name": "state",
                                        "type": "text",
                                        "label": "State"
                                    },
                                    {
                                        "name": "board",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Board"
                                    },
                                    {
                                        "name": "creator_id",
                                        "type": "uinteger",
                                        "label": "Creator ID"
                                    },
                                    {
                                        "name": "group",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "deleted",
                                                "type": "boolean",
                                                "label": "Deleted"
                                            },
                                            {
                                                "name": "archived",
                                                "type": "boolean",
                                                "label": "Archived"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Group"
                                    },
                                    {
                                        "name": "column_values",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            },
                                            {
                                                "name": "additional_info",
                                                "type": "text",
                                                "label": "Additional Info"
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values"
                                    },
                                    {
                                        "name": "parent_item",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent Item"
                                    },
                                    {
                                        "name": "subitems",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "uinteger",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Subitems"
                                    },
                                    {
                                        "name": "mappable_column_values",
                                        "spec": [
                                            {
                                                "name": "people",
                                                "spec": [
                                                    {
                                                        "name": "personsAndTeams",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "uinteger",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "kind",
                                                                "type": "text",
                                                                "label": "Kind"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Persons and Teams"
                                                    },
                                                    {
                                                        "name": "changed_at",
                                                        "type": "date",
                                                        "label": "Changed at"
                                                    },
                                                    {
                                                        "name": "additonal_info",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Aditional info"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Owner"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Mappable column values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "monday:ChangeMultipleColumnValues",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 784295
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.event.value.label.text}}",
                                            "b": "{{4.name}}",
                                            "o": "text:pattern:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "itemId": "{{1.event.pulseId}}",
                                "boardId": "3879926658",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "board_relation4",
                                        "columnValue": {
                                            "item_ids": "{{4.id}}"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "itemId": {
                                            "mode": "edit"
                                        },
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "1. Funder Applications (or Renewals)  ::  public"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "5. Funder Database"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "item_ids": {
                                                                "mode": "edit"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Monday Unidos admin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "itemId",
                                        "type": "select",
                                        "label": "Item ID",
                                        "required": true
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Column Values to Change",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 12,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "15"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 0
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "monday:CreateItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 698158
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.event.boardId}}",
                                            "b": "3913882077",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "test",
                                "boardId": "3879926658",
                                "groupId": "",
                                "columnValuesToChange": [
                                    {
                                        "columnId": "dropdown2",
                                        "columnValue": {
                                            "labels": [
                                                "{{1.event.pulseName}}"
                                            ],
                                            "settings": "{\"hide_footer\":false,\"labels\":[{\"id\":1,\"name\":\"American Hospital Association\"},{\"id\":2,\"name\":\"Baxter International Inc.\"},{\"id\":3,\"name\":\"Bristol-Myers Squibb\"},{\"id\":4,\"name\":\"Comic Relief USA (CRUS)\"},{\"id\":5,\"name\":\"Deloitte Services LP\"},{\"id\":6,\"name\":\"Door Dash\"},{\"id\":7,\"name\":\"General Mills, Inc.\"},{\"id\":8,\"name\":\"General Motors\"},{\"id\":9,\"name\":\"Morehouse School of Medicine\"},{\"id\":10,\"name\":\"No Kid Hungry (Share Our Strength)\"},{\"id\":11,\"name\":\"Pyxis Partners LLC | NIH\"},{\"id\":12,\"name\":\"Robert Wood Johnson Foundation\"},{\"id\":13,\"name\":\"Walmart Foundation\"},{\"id\":14,\"name\":\"Centers for Disease Control and Prevention (CDC)\"},{\"id\":15,\"name\":\"FRAC\"},{\"id\":16,\"name\":\"WESTAT | NIH\"},{\"id\":17,\"name\":\"-\"}]}",
                                            "selectType": "label2id"
                                        }
                                    }
                                ],
                                "create_labels_if_missing": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 450
                                },
                                "restore": {
                                    "expect": {
                                        "boardId": {
                                            "mode": "chose",
                                            "label": "1. Funder Applications & Renewals  ::  public"
                                        },
                                        "groupId": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "columnValuesToChange": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "columnId": {
                                                        "mode": "chose",
                                                        "label": "Funder"
                                                    },
                                                    "columnValue": {
                                                        "nested": {
                                                            "labels": {
                                                                "mode": "chose",
                                                                "items": [
                                                                    {
                                                                        "value": {
                                                                            "mode": "edit"
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            "selectType": {
                                                                "mode": "chose",
                                                                "label": "Label"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Duplicating group"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Item Name",
                                        "required": true
                                    },
                                    {
                                        "name": "boardId",
                                        "type": "select",
                                        "label": "Board ID",
                                        "required": true
                                    },
                                    {
                                        "name": "create_labels_if_missing",
                                        "type": "boolean",
                                        "label": "Create Labels if Missing",
                                        "required": true
                                    },
                                    {
                                        "name": "groupId",
                                        "type": "select",
                                        "label": "Group ID"
                                    },
                                    {
                                        "name": "columnValuesToChange",
                                        "spec": [
                                            {
                                                "name": "columnId",
                                                "type": "select",
                                                "label": "Column ID",
                                                "dynamic": true,
                                                "options": {
                                                    "store": []
                                                },
                                                "required": true,
                                                "validate": false
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Array of column values to change"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "15"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 900,
                                            "y": 600
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 9,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "5"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "monday:DeleteItem",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 698158
                            },
                            "mapper": {
                                "id": "{{8.id}}",
                                "isToArchiveItem": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "monday"
                                            },
                                            "label": "Duplicating group"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:monday",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID",
                                        "required": true
                                    },
                                    {
                                        "name": "isToArchiveItem",
                                        "type": "boolean",
                                        "label": "Is to Just Archive",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 11,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "15"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1500,
                                            "y": 300
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}