Populate other funder to funder.json
{
    "name": "✅Populate other funder to funder",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchEventsInstant",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 391029
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Populate other funder"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.event.pulseId}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{1.event.pulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    },
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID (NOT MANDATORY)"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "monday:ChangeMultipleColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{3.mappable_column_values.text43}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "itemId": "{{3.id}}",
                "boardId": "3879926658",
                "columnValuesToChange": [
                    {
                        "columnId": "color80",
                        "columnValue": {
                            "label": "{{3.mappable_column_values.text43}}",
                            "settings": "{\"labels\":{\"0\":\"RWJF\",\"1\":\"Red Nose Day Fund  - Comic Relief  / Foundation\",\"2\":\"Brystol M S\",\"3\":\"CZI\",\"4\":\"Pritzker Foundation\",\"6\":\"Walmart Foundation\",\"7\":\"General Mills\",\"8\":\"Other\",\"9\":\"TEST\"},\"labels_positions_v2\":{\"0\":7,\"1\":5,\"2\":6,\"3\":1,\"4\":3,\"5\":0,\"6\":4,\"7\":2,\"8\":8,\"9\":9},\"labels_colors\":{\"0\":{\"color\":\"#fdab3d\",\"border\":\"#E99729\",\"var_name\":\"orange\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00B461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#e2445c\",\"border\":\"#CE3048\",\"var_name\":\"red-shadow\"},\"3\":{\"color\":\"#0086c0\",\"border\":\"#3DB0DF\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#a25ddc\",\"border\":\"#9238AF\",\"var_name\":\"purple\"},\"6\":{\"color\":\"#037f4c\",\"border\":\"#006B38\",\"var_name\":\"grass-green\"},\"7\":{\"color\":\"#579bfc\",\"border\":\"#4387E8\",\"var_name\":\"bright-blue\"},\"8\":{\"color\":\"#CAB641\",\"border\":\"#C0AB31\",\"var_name\":\"mustered\"},\"9\":{\"color\":\"#FFCB00\",\"border\":\"#C0AB1B\",\"var_name\":\"yellow\"}}}",
                            "selectType": "label2index"
                        }
                    }
                ],
                "create_labels_if_missing": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "itemId": {
                            "mode": "edit"
                        },
                        "boardId": {
                            "mode": "chose",
                            "label": "1. Funder Applications (or Renewals)  ::  public"
                        },
                        "columnValuesToChange": {
                            "mode": "chose",
                            "items": [
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Funder"
                                    },
                                    "columnValue": {
                                        "nested": {
                                            "label": {
                                                "mode": "edit"
                                            },
                                            "selectType": {
                                                "mode": "chose",
                                                "label": "Label"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 6,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 600
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 4,
            "module": "monday:ExecuteGraphQLQuery",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "mapper": {
                "method": "POST",
                "queryBody": "mutation { change_multiple_column_values(item_id: {{3.id}}, board_id: {{3.board.id}}, column_values: \"{\\\"text43\\\" : \\\"\\\"}\") { id } }",
                "variables": [],
                "operationName": "",
                "variablesDataSource": "array"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "method": {
                            "label": "POST (queries and mutations)"
                        },
                        "variables": {
                            "mode": "chose"
                        },
                        "variablesDataSource": {
                            "label": "Form"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST"
                            ]
                        }
                    },
                    {
                        "name": "queryBody",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "operationName",
                        "type": "text",
                        "label": "Operation Name"
                    },
                    {
                        "name": "variablesDataSource",
                        "type": "select",
                        "label": "Variables Data Source",
                        "required": true,
                        "validate": {
                            "enum": [
                                "array",
                                "object"
                            ]
                        }
                    },
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST"
                            ]
                        }
                    },
                    {
                        "name": "queryBody",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "operationName",
                        "type": "text",
                        "label": "Operation Name"
                    },
                    {
                        "name": "variablesDataSource",
                        "type": "select",
                        "label": "Variables Data Source",
                        "required": true,
                        "validate": {
                            "enum": [
                                "array",
                                "object"
                            ]
                        }
                    },
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 7,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 8,
            "module": "monday:CreateItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 784295
            },
            "mapper": {
                "name": "{{3.mappable_column_values.text43}}",
                "boardId": "3913882077",
                "groupId": "topics",
                "columnValuesToChange": [],
                "create_labels_if_missing": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "mode": "chose",
                            "label": "5. Funder Database  ::  public"
                        },
                        "groupId": {
                            "mode": "chose",
                            "label": "Active"
                        },
                        "columnValuesToChange": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Monday Unidos admin Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Item Name",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID"
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Array of column values to change"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Item Name",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "groupId",
                        "type": "select",
                        "label": "Group ID"
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Array of column values to change"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 9,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1500,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}